body {
    margin: 0;
}

.box-model-test {
    margin: 50px;
    padding: 50px;
    width: 33.3%;
    height: 50px;
    background: #ccc;
    border: 1px solid #fff;
    overflow: hidden;
    box-sizing: border-box; /*width на конйтенера е равен на = width property*/
}
/*ако елемента няма box-sizing: border-box, широчината на контейнера е равна на width + padding + border*/


.conten-holder {
    background: #fff;
}

.relative-block {
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    background: green;
}

.absolute-block {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    left: 150px;
    bottom: 150px;
    background: #c1c1c1;

    border-radius: 99px;
}
.more-content {
    position: relative;
    display: block;
    background: red;
}

.fixed-block {
    position: fixed;
    display: block;
    background: #000;

    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
}