.navigation {
    /*text-align: right;*/
    text-align: center;
    /*text-align: left;*/
    font-size: 0;

}
.nav-link {
    display: inline-block;
    padding: 5px;
    margin: 0 3px;
    color: #000;
    background: #c1c1c1;
    border: 5px solid #000;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    /*font-style: italic;*/
}

.nav-link:hover {
    border-color: #c1c1c1;
}

.nav-link:focus {
    border-color: red;
}
/*
.nav-link:active {
    border-color: green;
}*/
/*
.nav-link:visited {
    border-color: #000;
}*/

.line-height {
    margin: 20px 0 0 0;
    line-height: 23px;
}

.has-hover-state:hover span {
   font-weight: bold;
   color: red;
}

.left-floating-image,
.right-floating-image {
    display: inline-block;
    width: 100px;
    float: left;
    margin: 5px 5px 5px 0;
}

.right-floating-image {
    float: right;
}

.submit-form {
    margin: 0 0 10px 0;
}

input {
    border: 5px solid #000;
}

.holds-input {
    margin: 10px 0;
}

textarea {
    width: 100px;
    height: 200px;
    resize: none;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}